<section style="background: #fafafa">
    <div class="container pt-5 px-5">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/images/logo.png" alt="" width="100" class="pb-2">
          <p style="color: #6c6c6c;">Hummingbird was founded with a vision to bring the latest fashion trends and timeless classics to your doorstep. Our journey began with a simple idea: to make shopping for clothing, accessories, and more as delightful as the outfits themselves</p>
         <div class="iconsDiv d-flex">
          <i class="fa-brands fa-facebook-f btn facebook-btn"></i>
          <i class="fa-brands fa-twitter  btn  twitter-btn"></i>
          <i class="fa-brands fa-instagram  btn  instagram-btn"></i>
          <i class="fa-brands fa-youtube  btn  youtube-btn"></i>
         </div>
        </div>
        <div class="col-md-3">
          <h4 class="footer-headings"> <span class="redline">Products </span></h4>
         <div class="Services d-flex justify-content-start pt-4">
          <ul>
            <li><a href=""> fashion</a></li>
            <li><a href=""> electronics </a></li>
            <!-- <li><a href="">&#8594; Book Hospitalization</a></li>
            <li><a href="">&#8594; Find Medical Shops</a></li>
            <li><a href="">&#8594; Find Ambulances</a></li>
            <li><a href="">&#8594; Find Blood Banks</a></li> -->
          </ul>
         </div>
        </div>
        <div class="col-md-3"> 
          <h4 class="footer-headings"> <span class="redline">For Facilities</span></h4>
          
        <div class="for-facilities pt-4">
          <ul>
            <li><a href=""> Curated Collections</a></li>
            <li><a href=""> Quality Assurance</a></li>
            <li><a href=""> Customer-Centric Approach</a></li>
            <li><a href=""> Sustainability</a></li>
            <!-- <li><a href="">&#8594; Medical Shops</a></li> -->
          </ul>
        </div>
        </div>
        <div class="col-md-3 ">
          <h4 class="footer-headings"><span class="redline">Get in Touch</span></h4>
          
          <div class="home-div d-flex pt-4">
            <i class="fa-solid fa-house icon-center"></i>
            <p>Hummingbird Services Pvt. Ltd. 306, Shagun Vatika, P.N. Road, Lucknow, Uttar Pradesh, India - 226010</p>
          </div>
          <div class="email-div d-flex">
            <i class="fa-regular fa-envelope icon-center"></i>
            <p>support@Hummingbird.in</p>
          </div>
          <div class="mobile-div d-flex">
            <i class="fa-solid fa-mobile icon-center"></i>
            <p>+916389200200</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="last-footer pt-2">
   <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p> &copy; 2023 Hummingbird. All Rights Reserved.</p>
      </div>
      <div class="col-md-2">
        <a href="">Privacy Policy</a>
      </div>
      <div class="col-md-4">
        <a href="">Terms of Use</a>
      </div>
    </div>
   </div>
  </div>
