<div class="main">
  
<div class="d-flex  container-fluid">

    <div class="aaa d-flex flex-column">
  <h2>Forget Password</h2>

        <div class="container d-flex justify-content-center">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <button type="submit" class="btn btn-primary" (click)="sendOTP()">send</button>
              </form>
          </div>
        </div>
    </div>
</div>