.container-fluid {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(87,87,140,1) 35%, rgba(0,212,255,1) 100%);
   
}
.aaa {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(87,87,140,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    width: 500px;
}